<header class="site-header">
  <div class="container">
    <a class="brand" href="/">
      <img src="https://cdn-icons-png.flaticon.com/512/683/683465.png?v=6"
           alt="Katia Daoud Legal Services" width="28" height="28" />
      <span>Katia Daoud Legal Services</span>
    </a>
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/pages/services.html">Services</a>
      <a href="/pages/about.html">About</a>
      <a class="btn" href="/pages/contact.html">Contact</a>
    </nav>
  </div>
</header>



